.git
.idea
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv
user_cache
db
tests
docs
Agents/server/meta_mcp
Agents/server/web_driver_monitor
Agents/server/repo_monitor_mcp
Agents/server/computer_mcp
